<div class="col-10 m-auto">
    <div class="col-12 mt-4" id="header">
        <h1>Lista de solicitações</h1>
         {{#if permissoes.perfilSolicitante}}
        <a class="btn btn-primary" href="/solicitacao">Nova Solicitação</a>
        {{/if}}
        <hr>
        <div class="filtros">
            <label for="">Filtros Ativos: <strong>{{status}}</strong></label>
            <br>
            <button class="btn btn-secondary" type="button" onclick="javascript:filtrar(event)" data-status="pendentes">Pendentes</button>
            <button class="btn btn-secondary" type="button" onclick="javascript:filtrar(event)" data-status="todos">Todos</button>

        </div>
    </div>
    {{!-- <button onclick="javascript:atualizar()">refresh</button> --}}
    <div class="col-12 m-auto " id="header2">
        <div class="row">
            <div class="table1 col-12 mt-4">
                <div class="table-responsive">
                    <table id="example" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Usuário</th>
                                <th>Item</th>
                                <th>Descrição</th>
                                <th>Quantidade</th>
                                <th>Observação</th>
                                <th>Data de Nescessidade</th>
                                <th>Data de entrega</th>
                                <th>Observação de entrega</th>
                                
                            </tr>
                        </thead>
                        <tbody id="novalinha">
                            {{#each solicitacao}}
                            <tr>
                                <td><a href="/solicitacao/{{this.numero}}"
                                        class="btn btn-outline-primary btn-sm">{{this.numero}}</a></td>
                                <td>{{this.usuario_solicitante}}</td>
                                <td>{{this.item}}</td>
                                <td>{{this.descricao}}</td>
                                <td>{{this.quantidade}}</td>
                                <td>{{this.observacao}}</td>
                                <td>{{this.data_necessidade}}</td>
                                <td>{{this.data_entrega}}</td>
                                <td>{{this.obs_entrega}}</td>
                                
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
    function atualizar() {
        location.reload()
    }
    function filtrar(e) {
        let url = new URL(location.href);
        url.searchParams.set('status', e.target.getAttribute('data-status'));
        location.href = url
        //        console.log(params.get('status'))
        //        console.log(params.get('status'))

    }
</script>