<div class="col-8 m-auto">
    <div class="col-12 mt-4" id="header">
        <h1>Solicitações</h1>
    </div>

    <div class="col-12 mt-3 " id="header2">

        <form>
            <div class="form-group">
                <label>Número</label>
                <input class="form-control" type="text" name="vendedor" id="vendedor" placeholder="Número..."
                    value="{{pedido.vendedor}}" required>
                <small id="erro-vendedor" class="vermelho"></small>
            </div>

            <div class="form-group mt-2">
                <label>Usuário</label>
                <input class="form-control" type="text" name="cod_cliente" id="cod_cliente"
                    placeholder="Usuário solicitante..." value="{{pedido.cod_cliente}}" required>
                <small id="erro-cod_cliente" class="vermelho"></small>
            </div>

            <div class="col-12 mt-4" id="header">
                <h1>Itens</h1>
            </div>

            <div class="form-group mt-2">
                <label>Item</label>
                <input class="form-control" type="text" name="loja_numero" id="loja_numero"
                    placeholder="Item..." value="{{pedido.loja_numero}}" required>
                <small id="erro-loja_numero" class="vermelho"></small>
            </div>

            <div class="form-group mt-2">
                <label>Descrição</label>
                <input class="form-control" type="text" name="loja_numero" id="loja_numero"
                    placeholder="Descrição..." value="{{pedido.loja_numero}}" required>
                <small id="erro-loja_numero" class="vermelho"></small>
            </div>

            <div class="form-group mt-2">
                <label>Quantidade</label>
                <input class="form-control" type="text" name="loja_numero" id="loja_numero"
                    placeholder="Quantidade..." value="{{pedido.loja_numero}}" required>
                <small id="erro-loja_numero" class="vermelho"></small>
            </div>

             <div class="form-group mt-2">
                <label>Observação</label>
                <input class="form-control" type="text" name="loja_numero" id="loja_numero"
                    placeholder="Observação..." value="{{pedido.loja_numero}}" required>
                <small id="erro-loja_numero" class="vermelho"></small>
            </div>

            <div class="form-group mt-2">
                <label>Data de Nescessidade</label>
                <input class="form-control" type="date" name="data" id="data" placeholder="Digite a Data..."
                    value="{{pedido.data}}" required>
                <small id="erro-data" class="vermelho"></small>
            </div>

            <div class="form-group mt-2">
                <label>Data de entrega</label>
                <input class="form-control" type="date" name="data" id="data" placeholder="Digite a Data..."
                    value="{{pedido.data}}" required>
                <small id="erro-data" class="vermelho"></small>
            </div>

            <div class="form-group mt-2">
                <label>Observação</label>
                <input class="form-control" type="text" name="data" id="data" placeholder="Observação de entrega..."
                    value="{{pedido.data}}" required>
                <small id="erro-data" class="vermelho"></small>
            </div>

            <button id="form1" type="button" class="btn btn-success mt-3">Registrar</button>
        </form>

    </div>
</div>

<script>


    //Fetch Pedido
    try {
        let form1 = document.querySelector('#form1')
        form1.addEventListener('click', async () => {
            let idPedido = document.querySelector('#idPedido').value
            let vendedor = document.querySelector('#vendedor').value
            let cod_cliente = document.querySelector('#cod_cliente').value
            let loja_numero = document.querySelector('#loja_numero').value
            let data = document.querySelector('#data').value
            let razao_social = document.querySelector('#razao_social').value
            let cep = document.querySelector('#cep').value
            let endereco = document.querySelector('#endereco').value
            let bairro = document.querySelector('#bairro').value
            let municipio = document.querySelector('#municipio').value
            let uf = document.querySelector('#uf').value
            let email = document.querySelector('#email').value
            let fone = document.querySelector('#fone').value
            let contato = document.querySelector('#contato').value
            let cpf = document.querySelector('#cpf').value
            let inscricao = document.querySelector('#inscricao').value
            let cond_pagamento = document.querySelector('#cond_pagamento').value
            let transportadora = document.querySelector('#transportadora').value

            if (vendedor == "") {
                document.getElementById('erro-vendedor').innerHTML = "Preencha o campo vendedor !";
                document.getElementById('vendedor').focus();
                return false;

            } else {
                document.getElementById('erro-vendedor').innerHTML = "";
            }

            if (cod_cliente == "") {
                document.getElementById('erro-cod_cliente').innerHTML = "Preencha o campo código do cliente !";
                document.getElementById('cod_cliente').focus();
                return false;
            } else {
                document.getElementById('erro-cod_cliente').innerHTML = "";
            }

            if (loja_numero == "") {
                document.getElementById('erro-loja_numero').innerHTML = "Preencha o campo número da loja !";
                document.getElementById('loja_numero').focus();
                return false;
            } else {
                document.getElementById('erro-loja_numero').innerHTML = "";
            }

            if (data == "") {
                document.getElementById('erro-data').innerHTML = "Preencha o campo data !";
                document.getElementById('data').focus();
                return false;
            } else {
                document.getElementById('erro-data').innerHTML = "";
            }

            if (razao_social == "") {
                document.getElementById('erro-razao_social').innerHTML = "Preencha o campo Razão social!";
                document.getElementById('razao_social').focus();
                return false;
            } else {
                document.getElementById('erro-razao_social').innerHTML = "";
            }

            if (cep == "") {
                document.getElementById('erro-cep').innerHTML = "Preencha o campo CEP !";
                document.getElementById('cep').focus();
                return false;
            } else {
                document.getElementById('erro-cep').innerHTML = "";
            }

            if (endereco == "") {
                document.getElementById('erro-endereco').innerHTML = "Preencha o campo Endereço !";
                document.getElementById('endereco').focus();
                return false;
            } else {
                document.getElementById('erro-endereco').innerHTML = "";
            }

            if (bairro == "") {
                document.getElementById('erro-bairro').innerHTML = "Preencha o campo bairro !";
                document.getElementById('bairro').focus();
                return false;
            } else {
                document.getElementById('erro-bairro').innerHTML = "";
            }

            if (municipio == "") {
                document.getElementById('erro-municipio').innerHTML = "Preencha o campo municipio !";
                document.getElementById('municipio').focus();
                return false;
            } else {
                document.getElementById('erro-municipio').innerHTML = "";
            }

            if (uf == "") {
                document.getElementById('erro-uf').innerHTML = "Preencha o campo UF !";
                document.getElementById('uf').focus();
                return false;
            } else {
                document.getElementById('erro-uf').innerHTML = "";
            }

            if (email == "") {
                document.getElementById('erro-email').innerHTML = "Preencha o campo E-mail !";
                document.getElementById('email').focus();
                return false;
            } else {
                document.getElementById('erro-email').innerHTML = "";
            }

            if (fone == "") {
                document.getElementById('erro-fone').innerHTML = "Preencha o campo Telefone !";
                document.getElementById('fone').focus();
                return false;
            } else {
                document.getElementById('erro-fone').innerHTML = "";
            }

            if (contato == "") {
                document.getElementById('erro-contato').innerHTML = "Preencha o campo contato !";
                document.getElementById('contato').focus();
                return false;
            } else {
                document.getElementById('erro-contato').innerHTML = "";
            }

            if (cpf == "") {
                document.getElementById('erro-cpf').innerHTML = "Preencha o campo CPF !";
                document.getElementById('cpf').focus();
                return false;
            } else {
                document.getElementById('erro-cpf').innerHTML = "";
            }

            if (inscricao == "") {
                document.getElementById('erro-inscricao').innerHTML = "Preencha o campo inscrição estadual !";
                document.getElementById('inscricao').focus();
                return false;
            } else {
                document.getElementById('erro-inscricao').innerHTML = "";
            }

            if (cond_pagamento == "") {
                document.getElementById('erro-cond_pagamento').innerHTML = "Preencha o campo condição de pagamento !";
                document.getElementById('cond_pagamento').focus();
                return false;
            } else {
                document.getElementById('erro-cond_pagamento').innerHTML = "";
            }

            if (transportadora == "") {
                document.getElementById('erro-transportadora').innerHTML = "Preencha o campo transportadora !";
                document.getElementById('transportadora').focus();
                return false;
            } else {
                document.getElementById('erro-transportadora').innerHTML = "";
            }







            const response = await fetch('/pedido/registrar', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                    'Accept': 'application/json'
                },
                body: JSON.stringify({
                    idPedido, vendedor, cod_cliente, loja_numero, data, razao_social,
                    cep, endereco, bairro, municipio, uf, email, fone, contato, cpf, inscricao, cond_pagamento, transportadora,
                    itens
                })
            })

                .then((response) => response.json())
                .then((data) => {
                    console.log("esse é a data", data)

                    if (data.message == "Produto não encontrado") {
                        swal("Error !", "Esse produto não foi encontrado: " + data.itemP, "error");
                    }

                    if (data.message == "Id não encontrado") {
                        swal("Error !", "Id não encontrado!", "error");
                    }

                    if (data.message == "Registro realizado com sucesso") {
                        swal("Sucesso !", "Registro realizado com sucesso", "success")
                    }

                    if (data.id_pedido) {
                        document.getElementById('idPedido').value = data.id_pedido
                    }
                })
        })


    } catch (err) {
        console.log(`Erro: ${err}`)
    }

</script>