<style>
    .itens {
        display: none;
    }

    @media only screen and (max-width: 600px) {
        body {}

        .table1 {
            display: none;
        }

        .itens {
            display: grid;
        }

        .cabecalho {
            display: none;
        }

    }

    #form_edit {
        display: none;
        position: fixed;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: white;
        top: 0;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;

    }

    .form_edit {
        height: 80vh;
        position: relative;
    }

    a {
        text-decoration: none;
    }

    .item {
        display: grid;
        grid-template-rows: auto;
        margin-top: 5%;
        border-radius: 5%;
        border: 1px solid #ccc;
        padding: 2%;
    }

    .item span {
        padding: .5em 0;
        border-bottom: 1px solid #CCC;
    }
</style>
<div class="col-8 m-auto">
    <div class="col-12 mt-4" id="header">
        <h1>Solicitação</h1>
    </div>

    <div class="col-12 mt-3 " id="header2">

        <div class="form-group">

            <label>Número</label>
            <input class="form-control" type="text" name="numero" id="numero" placeholder="Número..."
                value="{{solicitante.numero}}" readonly>
            <small id="erro-numero" class="vermelho"></small>
        </div>

        <div class="form-group mt-2">
            <label>Usuário</label>
            <input class="form-control" type="text" name="usuario_solicitante" id="usuario_solicitante"
                placeholder="Usuário solicitante..." value="{{solicitante.usuario_solicitante}}" required>
            <small id="erro-usuario_solicitante" class="vermelho"></small>
        </div>

        <div class="col-12 mt-4" id="header">
            <h1>Itens</h1>
        </div>

        <div class="row">
            <button class="btn btn-primary" onclick="javascript:newItem()">Novo Item</button>

            <div class="table1 col-12 mt-4">
                <div class="table-responsive">
                    <table id="tabela" class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Descrição</th>
                                <th>Quantidade</th>
                                <th>Observação</th>
                                <th>Data de Nescessidade</th>
                                <th>Data de entrega</th>
                                <th>Observação de entrega</th>
                            </tr>
                        </thead>

                        <tbody id="novalinha">

                            {{#each itens}}
                            <tr>
                                <td><a class="btn btn-primary" href="#" onclick="javascript:editItem(event)"
                                        data-id_item="{{this.item}}">{{this.item}}</a></td>
                                <td>{{this.descricao}}</td>
                                <td>{{this.quantidade}}</td>
                                <td>{{this.observacao}}</td>
                                <td>{{formatDate2 this.data_necessidade}}</td>
                                <td>{{this.data_entrega}}</td>
                                <td>{{this.obs_entrega}}</td>

                                <td class="text-center">
                                    <span class="d-none d-md-block">

                                        <a href="/remove/{{this.numero}}/{{this.item}}"
                                            class="btn btn-outline-danger btn-sm">Remover</a>

                                    </span>
                                    <div class="dropdown d-block d-md-none">
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acoesListar">
                                            <a class="dropdown-item" href="/remove/{{this.numero}}/{{this.item}}">Remover</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            {{/each}}

                        </tbody>

                    </table>

                </div>
            </div>
            <ul class="itens">
                {{#each itens}}
                <li class="item">
                    <span><strong>Número: </strong> {{this.numero}}</span>
                    <span><strong>Usuário: </strong> {{this.usuario_solicitante}} </span>
                    <span><strong>item: </strong> {{this.item}} </span>
                    <span><strong>Descricao: </strong> {{this.descricao}} </span>
                    <span><strong>Quantidade:</strong> {{this.quantidade}}</span>
                    <span><strong>Observacao: </strong>{{this.observacao}}</span>
                    <span><strong>Data necessidade:</strong> {{this.data_necessidade}}</span>
                    <span><strong>Data de entrega: </strong>{{this.data_entrega}} </span>
                    <span><strong>Observação de entrega: </strong>{{this.obs_entrega}} </span>
                    <span class="m-auto">
                        <a href="/remove/{{this.numero}}/{{this.item}}" class="btn btn-outline-danger btn-sm">Remover</a>
                    </span>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>


<div class="form_edit col-8">

    <form id="form_edit">
        <button class="btn btn-danger" onclick="javascript:closeItem()">Fechar</button>
        <div>

            <div class="form-group mt-2">
                <label>Item</label>
                <input class="form-control" type="text" name="item" id="item" placeholder="Item..."
                    value="" readonly>
                <small id="erro-item" class="vermelho"></small>
            </div>

            <div class="form-group mt-2">
                <label>Descrição</label>
                <input class="form-control" type="text" name="descricao" id="descricao" placeholder="Descrição..."
                    value="" required>
                <small id="erro-descricao" class="vermelho"></small>
            </div>

            <div class="form-group mt-2">
                <label>Quantidade</label>
                <input class="form-control" type="text" name="quantidade" id="quantidade" placeholder="Quantidade..."
                    value="" required>
                <small id="erro-quantidade" class="vermelho"></small>
            </div>

            <div class="form-group mt-2">
                <label>Observação</label>
                <input class="form-control" type="text" name="observacao" id="observacao" placeholder="Observação..."
                    value="" required>
                <small id="erro-observacao" class="vermelho"></small>
            </div>

            <div class="form-group mt-2">
                <label>Data de Nescessidade</label>
                <input class="form-control" type="date" name="data_necessidade" id="data_necessidade"
                    placeholder="Digite a Data..." value="" required>
                <small id="erro-data_necessidade" class="vermelho"></small>
            </div>

            <div class="form-group mt-2">
                <label>Data de entrega</label>
                <input class="form-control" type="date" name="data_entrega" id="data_entrega"
                    placeholder="Digite a Data..." value="" required>
                <small id="erro-data_entrega" class="vermelho"></small>
            </div>

            <div class="form-group mt-2">
                <label>Observação</label>
                <input class="form-control" type="text" name="obs_entrega" id="obs_entrega"
                    placeholder="Observação de entrega..." value="" required>
                <small id="erro-obs_entrega" class="vermelho"></small>
            </div>

            <button id="form1" type="button" class="btn btn-success mt-3">Registrar</button>
    </form>
</div>

</div>

<script>


    //Fetch Pedido
    try {
        let form1 = document.querySelector('#form1')
        form1.addEventListener('click', async () => {

            let numero = document.querySelector('#numero').value
            let usuario_solicitante = document.querySelector('#usuario_solicitante').value
            let item = document.querySelector('#item').value
            let descricao = document.querySelector('#descricao').value
            let quantidade = document.querySelector('#quantidade').value
            let observacao = document.querySelector('#observacao').value
            let data_necessidade = document.querySelector('#data_necessidade').value
            let data_entrega = document.querySelector('#data_entrega').value
            let obs_entrega = document.querySelector('#obs_entrega').value

            if (numero == "") {
                document.getElementById('erro-numero').innerHTML = "Preencha o campo Número !";
                document.getElementById('numero').focus();
                //return false;
            } else {
                document.getElementById('erro-numero').innerHTML = "";
            }

            if (usuario_solicitante == "") {
                document.getElementById('erro-usuario_solicitante').innerHTML = "Preencha o campo Usuário !";
                document.getElementById('usuario_solicitante').focus();
                //return false;
            } else {
                document.getElementById('erro-usuario_solicitante').innerHTML = "";
            }

            if (item == "") {
                document.getElementById('erro-item').innerHTML = "Preencha o campo Item !";
                document.getElementById('item').focus();
                //return false;
            } else {
                document.getElementById('erro-item').innerHTML = "";
            }

            if (descricao == "") {
                document.getElementById('erro-descricao').innerHTML = "Preencha o campo descrição !";
                document.getElementById('descricao').focus();

                // return false;
            } else {
                document.getElementById('erro-descricao').innerHTML = "";
            }

            if (quantidade == "") {
                document.getElementById('erro-quantidade').innerHTML = "Preencha o campo Quantidade!";
                document.getElementById('quantidade').focus();
                //   return false;
            } else {
                document.getElementById('erro-quantidade').innerHTML = "";
            }

            if (observacao == "") {
                document.getElementById('erro-observacao').innerHTML = "Preencha o campo Observação!";
                document.getElementById('observacao').focus();
                //     return false;
            } else {
                document.getElementById('erro-observacao').innerHTML = "";
            }

            if (data_necessidade == "") {
                document.getElementById('erro-data_necessidade').innerHTML = "Preencha o campo Data de necessidade !";
                document.getElementById('data_necessidade').focus();
                //       return false;
            } else {
                document.getElementById('erro-data_necessidade').innerHTML = "";
            }


            var result = await fetch('/solicitacao', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                    'Accept': 'application/json'
                },
                body: JSON.stringify({
                    numero, usuario_solicitante, item, descricao, quantidade, observacao,
                    data_necessidade, data_entrega, obs_entrega
                })
            })
            var response = await result.json()
            if (result.status == 200) {
                console.log(response.numero)
                document.getElementById('numero').value = response.numero
                location.href = '/solicitacao/' + response.numero
                if (response.message == "Sucesso") {
                    swal("Sucesso !", "Solicitação realizada com sucesso", "success")
                }

            }
        })


    } catch (err) {
        console.log(`Erro: ${err}`)
    }

    function newItem() {
        document.getElementById('form_edit').style.display = 'block'
        document.getElementById('item').value = ""
    }
    function closeItem() {
        document.getElementById('form_edit').style.display = 'none'
    }
    async function editItem(e) {
        var result = await fetch('/itemGet?numero=' + document.getElementById('numero').value + '&item=' + e.target.getAttribute('data-id_item'))
        var response = await result.json()
        console.log(response)
        document.getElementById('form_edit').style.display = 'block'
        document.getElementById('item').value = e.target.getAttribute('data-id_item')
        document.getElementById('descricao').value = response.descricao
        document.getElementById('quantidade').value = response.quantidade
        document.getElementById('observacao').value = response.observacao
        document.getElementById('data_necessidade').value = response.data_necessidade
    }
</script>